.widget-wrapper{
 position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 justify-content:center;
 align-items: center;
 z-index: 2000;
 background-color: var(--slate);
}
.widget-container{
 width:50%;
 min-height: 550px;
 background-color: var(--primary);
 display: flex;
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 border-radius: 15px;
 border: solid 1px var(--chart-line);
}
.cancel-btn{
 position: absolute;
 top:10px;
 right: 10px;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.3s;
 cursor: pointer;
 color:var(--primary-font)
}
.cancel-btn:hover{
 background-color: var(--unlock);
}
.widget-content{
 display: flex;
 align-items: center;
 flex-direction: column;
 text-align: center;
 width: 90%;
 height: auto;
 color:var(--primary-font);
 font-family: 'sora';
}
.widget-content p{
 font-size: 11pt;
 color: var(--secondary-font);
}
.widget-content h1{
  font-size: clamp(15pt, 2.5vw, 22pt);
}
.widget-content h1{
 font-weight: 400;
}
.show-more{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-block: 30px;
 margin-top: 10px;
}
.more-content{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 17%;
 cursor: pointer;
 
}
.widget-collection{
 display:flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 width: 100%;
 height: 300px;
 gap:10px;
 /* overflow-y: scroll; */
}
.widget-collection::-webkit-scrollbar {
  display: none;
}
.widget{
 width:190px;
 max-width: 90%;
 height: 140px;
 border-radius: 5px;
  border: solid 1px var(--chart-line);
  cursor:pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}
.widget:hover{
 background-color: var(--map-grey);
}
.widget:active{
 background-color: var(--map-grey);
}
.widget-image{
 width:90%;
;
}
.widget-image img{
 width: 50%;
 transform: translateY(20px);
 pointer-events: none;
}
/* RESPONSIVE */
@media screen and (max-width:1000px){
 .widget-container{
  width: 80%;
 }
}
@media screen and (max-width:600px){
 .widget-container{
  width: 80%;
 }
 .widget-collection{
 display:flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 width: 100%;
 height: 300px;
 gap:10px;
 overflow-y: scroll;
}
.more-content{
  width: 30%;
}
.widget-content p{
 font-size: 8pt;
}
}
/* CHECK */
.check{
 position:relative;
}
.check > .checked{
 position: absolute;
 top:10px;
 right: 10px;
 width:20px;
 height: 20px;
 border-radius: 50%;
 color:var(--primary-font);
 background-color: var(--light-purple);
 display: flex;
 justify-content: center;
 align-items: center;
}
.widget-collection>:first-child{
 animation: animate 0.3s ease-in-out ;
}
.widget-collection>:nth-child(2){
animation: animate 0.5s ease-in-out 0.1s ;
}
.widget-collection>:nth-child(3){
animation: animate 0.8s ease-in-out 0.2s ;
}
.widget-collection>:nth-child(4){
animation: animate 0.3s ease-in-out ;
}
.widget-collection>:nth-child(5){
animation: animate 0.5s ease-in-out 0.1s ;
}
.widget-collection>:nth-child(6){
animation: animate 0.8s ease-in-out 0.2s ;
}
@keyframes animate {
 0%{
  opacity: 0;
  transform: translateX(50px);
 }
 80%{
  opacity:0.5;
 }
 100%{
  opacity:1;
  transform: translateX(0px);
 }
}