.main-wrapper {
  height: 100%;
  min-width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 90%;
  height: 95%;
  overflow-y: scroll;
  background-color: var(--background);
  margin-left: 10px;
}
.main-container::-webkit-scrollbar {
  display: none;
}
.main-search {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar {
  min-width: 250px;
  border-bottom: solid 1px var(--secondary-font);
  height: 30px;
  display: flex;
  align-items: baseline;
}
.search-bar > i {
  color: var(--secondary-font);
  margin-right: 10px;
}
.search-bar > input {
  width: 95%;
  height: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: 'sora';
  font-size: 14pt;
  color: var(--secondary-font);
}
.control-center {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.control-center > i {
  font-size: 15pt;
  color: var(--secondary-font);
}
.control-center > :nth-child(2) {
  position: relative;
}
.control-center > :nth-child(2)::after {
  content: '';
  position: absolute;
  left: 12px;
  width: 8px;
  height: 8px;
  background-color: var(--light-aqua);
  border-radius: 50%;
}
.control-center > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-title > h1 {
  font-family: 'sora';
  font-weight: 400;
  font-size: 20pt;
  color: var(--secondary-font);
}
.main-title > h1 > span {
  color: var(--primary-font);
}
.options {
  width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.options > a {
  width: max-content;
  background-color: var(--background);
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px;
  border: solid 1px var(--secondary-font);
  font-size: 10pt;
  font-family: 'sora';
  color: var(--primary-font);
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.options > a:active,.options > a:hover {
  background-color: var(--primary-font);
  color: var(--background);
}
.options > a:hover .add {
  background-color: var(--primary-font);
  border: solid 1px var(--background);
}
.add {
  font-size: 7pt;
  margin-right: 10px;
  padding: 2px;
  border: solid 1px var(--primary-font);
  border-radius: 50%;
}
.export {
  margin-right: 10px;
}
.main-content {
  /* background-color: white; */
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ai-analytics {
  height: var(--tile-height);
  min-width: 150px;
  width: 25%;
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ai-analytics > img {
  width: 220px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 40px;
  animation: rotate 120s infinite linear;
}
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* //////////SALES REPORT////////// */
.sales-report {
  min-width: 300px;
  width: 72%;
  height: var(--tile-height);
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}

.sales-control {
  height: 50px;
  width: 95%;
  margin-block: 10px;
  font-family: 'sora';
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sales-control > h2 {
  color: var(--primary-font);
  font-weight: 400;
  font-size: 15pt;
}
.report-options {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  gap: 1rem;
  min-width: 150px;
  font-size: 10pt;
  color: var(--primary-font);
}
.report-options > :first-child {
  position: relative;
}
.report-options > :first-child::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -12px;
  top: 5px;
  background-color: var(--light-purple);
}
.report-options > :nth-child(2) {
  position: relative;
}
.report-options > :nth-child(2)::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  left: -12px;
  top: 5px;
  background-color: var(--light-aqua);
}
/* ///////SELECT DATA//////// */
.dropdown {
  height: 0;
  margin-top: 0;
  z-index: 1000;
  height: 100%;
}
.dropdown > button {
  border: none;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'sora';
  margin-top: 10px;
  color: var(--secondary-font);
  border-radius: 10px;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
}
.dropdown > button:hover {
  background-color: var(--dropdown);
}
.dropdown > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: var(--dropdown);
  list-style-type: none;
  height: 130px;
  margin-top: 10px;
  padding-block: 5px;
}
.dropdown a {
  background-color: none;
  height: 30px;
  margin-bottom: 5px;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  color: var(--secondary-font);
  font-size: 10pt;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown a:hover {
  background-color: var(--map-grey);
}
.dropdown a:active {
  color: var(--primary-font);
  transition: 0.3s;
  text-shadow: 0 0 3px var(--primary-font);
  scale: 1.5;
  background-color: var(--dropdown);
}
.chart {
  min-width: 300px;
  width: 100%;
  height: var(--tile-height);
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
}
.chart::-webkit-scrollbar {
  display: none;
}
.yaxis-wrapper {
  position: absolute;
  left: -30px;
  bottom: 0;
  width: 65px;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
}
.yaxis-container {
  margin-bottom: 10px;
  padding-bottom: 15px;
  width: 65px;
  height: 70%;
  background-color: var(--primary);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.yaxis-container > a {
  text-align: right;
  font-family: 'sora';
  color: var(--secondary-font);
  font-size: 8pt;
  padding-right: 5px;
}

/* ////// LOWER DASHBOARD//////// */

/* SALES TIME */
.time-wrapper {
  height: var(--tile-height);
  min-width: 35%;
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position: relative;
  /* overflow: hidden; */
}
.time-title {
  height: 50px;
  width: 95%;
  margin-block: 10px;
  font-family: 'sora';
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time-title > h2 {
  color: var(--primary-font);
  font-weight: 400;
  font-size: 15pt;
}
.time-options {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  gap: 1rem;
  min-width: 150px;
  font-size: 10pt;
  color: var(--primary-font);
}
.time-options > button {
  border: none;
  width: 100px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'sora';
  margin-top: 10px;
  color: var(--secondary-font);
  border-radius: 10px;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.time-grid {
  display: grid;
  position: absolute;
  left: 40px;
  bottom: 35px;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 3px;
  width: max-content;
  transform: translateX(17px);
}
.box {
  width: 33px;
  height: 26px;
}
.time-axis {
  position: absolute;
  left: 15px;
  bottom: 30px;
  min-height: 205px;

  height: max-content;
  text-align: right;
  font-family: 'sora';
  color: var(--secondary-font);
  font-size: 8pt;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}
.day-axis {
  position: absolute;
  bottom: 5px;
  left: 60px;
  text-align: right;
  font-family: 'sora';
  color: var(--secondary-font);
  font-size: 8pt;
  padding-right: 5px;
  display: flex;
  width: 240px;
  display: flex;
  gap: 18px;
}
.time-title p {
  height: 7px;
}
.location-wrapper {
  height: var(--tile-height);
  min-width: 200px;
  width: 100%;
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.country-data {
  height: 30px;
  width: 95%;
  display: flex;
  align-items: center;
}
.country-data > span {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 30px;
  width: 25%;
  font-family: 'sora';
  font-size: 8pt;
  color: var(--secondary-font);
}
.country-data > span p > span {
  position: relative;
}
.country-data > span p > span::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 4px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: var(--primary-font);
}
.country-data p > span {
  color: var(--primary-font);
}
.map-container {
  width: 95%;
  height: 60%;
}
.map {
  transform: scaleX(1.5);
  margin-right: 30px;
}

/* PAYMENT HISTORY */
.payment-wrapper {
  height: var(--tile-height);
  width: 100%;
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-title {
  height: 50px;
  width: 95%;
  margin-block: 10px;
  font-family: 'sora';
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.payment-title > h2 {
  color: var(--primary-font);
  font-weight: 400;
  font-size: 15pt;
}
.payment-options {
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
  gap: 1rem;
  min-width: 150px;
  font-size: 10pt;
  color: var(--primary-font);
}
.payment-options > button {
  border: none;
  width: 100px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'sora';
  margin-top: 10px;
  color: var(--secondary-font);
  border-radius: 10px;
  transition: 0.3s;
  background-color: transparent;
  cursor: pointer;
}
.invoice {
  width: 95%;
  height: auto;
}
.invoice > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
  border-bottom: solid 1px var(--chart-line);
  color: var(--primary-font);
  font-family: 'sora';
  font-size: 10pt;
  gap: 10px;
  position: relative;
}
.invoice > a > p{
  height: 100%;
  min-width: 100px;
  display: flex;
  align-items: center;
}
.invoice>a>p>span{
  color: var(--light-aqua);
}
.invoice > a :nth-child(3){
  color: var(--secondary-font);
}
.invoice> a :nth-child(4){
  position: relative;
  min-width:100px;
  max-width:100px;
}
.invoice-dot{
  width:5px;
  height: 5px;
  background-color: white;
  position: absolute;
  left: -10px;
  border-radius: 50%;
}
/*  DROP DASHBOARD */
.drop-location{
  height: 0;
  min-width: 200px;
  width: 62%;
  background-color: var(--primary);
  border-radius: var(--tile-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  position:relative;

}
.roll{
  height: auto;
  animation: presence 1s linear;
}
@keyframes presence {
  from {
    height: 0px;
  }
  to {
    height: 200px;
  }
}

.purple-line{
  position: absolute;
  top:-10px;
  background-color: var(--light-purple);
  width:100%;
  height: 3px;
  box-shadow: 0 0 5px var(--light-purple);
  border-radius: 10px;
}
/* RESPONSIVE */
@media screen and (max-width:1000px){
  .main-search{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 90%;
    height: 100px;
    /* background-color: pink; */
  }
  .search-bar{
    width: 80%;
  }
  .search-bar input{
    width: 80%;
  }
  .options{
    width:100%;
    display: flex;
    justify-content: center;
  }
  .options a{
    width:140px;
    margin-bottom: 5px; 
    margin-left: 10px;  
  }
  .main-title{
    flex-direction: column;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .top-content{
    flex-direction: column-reverse;
  }
  .ai-analytics{
    width:90%;
    margin-bottom: 20px;
    
  }
  .ai-analytics>img{
    scale:1.3
  }
  .ai-analytics>button{
    scale:1.3
  }
  .sales-report{
    width: 90%;
  }
  .bottom-content{
    flex-direction: column;
  }
  .time-wrapper{
    width:90%;
  }
  .drop-location{
    width:90%;
  }
}